<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/cerulean/bootstrap.min.css">
    <style>
        .nav {
            background-color: royalblue !important;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            min-height: 260px;
        }
        .nav_total {
            background-color: royalblue !important;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            min-height: 260px;
        }
        .my_content {
            height: 100%;
        }
        .content {
            position: relative;
            padding-left: 0;
            padding-right: 25px;
        }
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container-fluid {
            display: flex;
            flex-wrap: wrap;
        }
        .sidebar {
            flex: 0 0 25%;
            background-color: #f1f1f1;
        }
        .content {
            flex: 1;
            background-color: #fff;
        }
    </style>

</head>
<body>
<div class="container-fluid p-0">
    <div class="row">
        <nav class="col-md-2 col-sm-12 d-none d-md-block sidebar my_content nav_total">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <br>
                        <div class="row justify-content-center">
                            <h3 class="text-light">Admin page</h3>
                        </div>
                        <br>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light" href="/admin/">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/posts/">
                            Posts
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/admin/contactUs_messages/">
                            contact us messages
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/admin/unconfirmed_comments/">
                            unconfirmed comments
                        </a>
                    </li>
                    <li class="nav-item">
                        <hr>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/home/">
                            Home page
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/admin/writer/">
                            Writer page
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/about/">
                            About us page
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" href="#">
                            Log out
                        </a>
                </ul>
            </div>
        </nav>
        <div class="col-md-10 col-sm-12 ">
            <div class="content" style="margin-top: 30px">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>Dashboard</h1>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex align-items-center justify-content-end" style="padding-left: 580px">
                                <b class="mb-0" id="admin-name">Ali Alizadeh</b>
                                <img src="./photos/profile-photo.png" class="rounded-circle mr-2" width="60"
                                     height="60">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-top: 40px">
                    <div class="col-sm-3 col-md-3">
                        <div class="card bg-Secondary w-100" style="margin-right: 10px">
                            <div class="card-body">
                                <h5 class="card-title text-info">Total posts:</h5>
                                <h1 id="posts-num" class="text-center" style="margin-bottom: 0;">214301</h1><h6
                                    class="text-center">&emsp;posts</h6><br style="margin-bottom: 0">
                                <div class="center">
                                    <a href="/posts/" class="btn btn-info float-right " style="width: 100%">all posts</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="card bg-Secondary w-100">
                            <div class="card-body">
                                <h5 class="card-title text-info">My posts:</h5>
                                <h1 id="myPosts-num" class="text-center" style="margin-bottom: 0;">100</h1><h6
                                    class="text-center">&emsp;my posts</h6><br style="margin-bottom: 0">
                                <div class="center">
                                    <a href="/myPosts/" class="btn btn-info float-right " style="width: 100%">my posts</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="card bg-Secondary w-100">
                            <div class="card-body">
                                <h5 class="card-title text-info">Unconfirmed comments:</h5>
                                <h1 id="comments-num" class="text-center" style="margin-bottom: 0;">3453</h1><h6
                                    class="text-center">&emsp;comments</h6><br style="margin-bottom: 0">
                                <div class="center">
                                    <a href="/unconfirmed_comments/" class="btn btn-info float-right " style="width: 100%">unconfirmed
                                        comments</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="card bg-Secondary w-100">
                            <div class="card-body">
                                <h5 class="card-title text-info">Contact us messages:</h5>
                                <h1 id="contactUs-num" class="text-center" style="margin-bottom: 0;">54786</h1><h6
                                    class="text-center">&emsp;user messages</h6><br style="margin-bottom: 0">
                                <div class="center">
                                    <a href="/contactUs_messages/" class="btn btn-info float-right " style="width: 100%">messages</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card" style="margin-top: 25px">
                    <div class="card-header">
                        Quote
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Freedom is the will to be responsible to ourselves. It is to preserve the distance which
                                separates us from other men. To grow more indifferent to hardship, to severity, to
                                privation, and even to life itself. To be proud and sure of ourselves without
                                selfishness. To be so free in spirit that we can truly love the one we love. To
                                apprehend the beauty of the earth in silence. To feel the joy of solitude. To be able to
                                withstand criticism without resentment and to refuse praise without arrogance. To be
                                able to hear, to see, and to feel, and never to forget that these sensations are a gift
                                from God and constitute the real meaning of life.</p>
                            <footer class="blockquote-footer"><cite title="Source Title">Michael Oakeshott</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>