<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<style>
		form { margin: 0px 10px; }
		h2 {
		  margin-top: 2px;
		  margin-bottom: 2px;
		}
		.container { max-width: 360px;
		margin-top: 50px;
		}
		.divider hr {
		  margin: 7px 0px;
		  width: 35%;
		}
	</style>

</head>

<body>
    <div class="container">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-body">
					<form method="POST" action="/users/register/"  onsubmit="signup(event, this)">
						<div class="form-group">
							<h2>Create account</h2>
						</div>
						<div class="form-group">
							<label class="control-label" for="signupName">Your name</label>
							<input id="signupName" type="text" maxlength="50" class="form-control">
						</div>
						<div class="form-group">
							<label class="control-label" for="signupEmail">Email</label>
							<input id="signupEmail" type="email" maxlength="50" class="form-control">
						</div>

						<div class="form-group">
							<label class="control-label" for="signupPassword">Password</label>
							<input id="signupPassword" type="password" maxlength="25" class="form-control" placeholder="at least 8 characters" length="40">
							<input type="checkbox" onclick="show_pass()">Show Password
						</div>
						<div class="form-group">
							<label class="control-label" for="signupPasswordagain">Password again</label>
							<input id="signupPasswordagain" type="password" maxlength="25" class="form-control">
							<input type="checkbox" onclick="show_passa_gain()">Show Password
						</div>
						<div class="form-group">
							<button id="signupSubmit" type="submit" class="btn btn-info btn-block">Create your account</button>
						</div>
						<hr>
						<p></p>Already have an account? <a href="/login/">Sign in</a>
						<p>Return <a href="/home/">Home</a> </p>
					</form>
				</div>
			</div>
		</div>
	</div>
<script>

	async function signup(event, el){
        event.preventDefault()
        let response = await fetch(
        el.action, {method: el.method, headers: {"Content-Type": "application/json"},
		body: JSON.stringify({
		email: el.querySelector("#signupEmail").value,
		password: el.querySelector("#signupPassword").value,
		name: el.querySelector("#signupName").value,
		confirm_pass: el.querySelector("#signupPasswordagain").value})
		}
		)

		if (response.status === 200){
           window.location.replace("/")
      } else {
           alert(" Please check your information")

      }
}
function show_pass() {
	let x = document.getElementById("signupPassword");
	if (x.type === "password") {
    	x.type = "text";
  	}
	else {
    	x.type = "password";
  	}
}
function show_passa_gain() {
	let x = document.getElementById("signupPasswordagain");
	if (x.type === "password") {
    	x.type = "text";
  	}
	else {
    	x.type = "password";
  	}
}
</script>
</body>
</html>
