<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/cerulean/bootstrap.min.css">

    <!-- Your custom styles -->
    <link rel="stylesheet" href="styles.css">
    <style>
        .nav {
            background-color: #007bff !important;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }

        .my_content {
            height: 100%;
        }

        .content {
            position: relative;
            padding-left: 20px;
        }

        .line {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 2px;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 123, 255, 1) 50%, rgba(0, 0, 0, 0) 100%);
            /*background: linear-gradient(90deg, rgba(172,167,255,1) 0%, rgba(0,123,255,1) 4%, rgba(0,123,255,1) 96%, rgba(172,167,255,1) 100%);*/
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        }


    </style>

</head>
<body>
<div class="container-fluid p-0">
    <div class="row">
        <nav class="col-md-2 col-sm-12 d-none d-md-block sidebar my_content">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <br>
                        <div class="row justify-content-center">
                            <h2 class="text-light">Admin page</h2>
                        </div>
                        <br>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light" href="#">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">
                            Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">
                            Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">
                            Integrations
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">
                            Settings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">
                            Help
                        </a>
                    </li>
                    <li class="nav-item">
                        <br><br><br>
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <button class="btn btn-info btn-block">Logout</button>
                                <br>
                            </div>
                        </div>
                    </li>
                    <!--                    <li>-->
                    <!--                        <div class="my_content"></div>-->
                    <!--                    </li>-->
                </ul>
            </div>
        </nav>
        <div class="col-md-10 col-sm-12 ">
            <div class="content">
                <!--                <h1>test</h1>-->
                <!--                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->
                <!--                <h1>wrgwgw</h1>-->
                <!--                <div class="line"></div>-->
                <!--                <h1>Content Title</h1><br><br><br><br><br><br><br>-->
                <!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                <!--                <div class="card" style="width: 18rem;">-->
                <!--&lt;!&ndash;                    <img class="card-img-top" src="..." alt="Card image cap">&ndash;&gt;-->
                <!--                    <div class="card-body">-->
                <!--                        <h5 class="card-title">All post:</h5>-->
                <!--&lt;!&ndash;                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of&ndash;&gt;-->
                <!--&lt;!&ndash;                            the card's content.</p>&ndash;&gt;-->
                <!--                        <h3 id="num_of_posts">200</h3>-->
                <!--                        <a href="#" class="btn btn-info">all posts</a>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="row" style="margin-top: 10px">
                    <div class="col-sm-6">
                        <div class="card bg-Secondary w-50" style="margin-right: 10px">
                            <div class="card-body">
                                <h5 class="card-title text-info">Total posts:</h5>
                                <!--                                <p class="card-text"> 200</p>-->
<!--                                <h2>&emsp;200 <h6> &nbsp;posts</h6></h2>-->
                                <h1 id="posts-num" class="text-center" style="margin-bottom: 0;">214301</h1><h6 class="text-center">&emsp;posts</h6><br style="margin-bottom: 0">
                                <a href="#" class="btn btn-info float-right " style="min-width: 45px;">&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;all posts&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card bg-Secondary w-50">
                            <div class="card-body">
                                <h5 class="card-title text-info">Total posts:</h5>
                                <!--                                <p class="card-text"> 200</p>-->
<!--                                <h2>&emsp;200 <h6> &nbsp;posts</h6></h2>-->
                                <h1 id="posts-num2" class="text-center" style="margin-bottom: 0;">214301</h1><h6 class="text-center">&emsp;posts</h6><br style="margin-bottom: 0">
                                <a href="#" class="btn btn-info float-right " style="min-width: 45px;">&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;all posts&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
